{% extends './base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<section class="section">
    <form method="POST">

        {{form.hidden_tag()}}

        <section class="hero is-transparent is-fullheight">
            <div class="hero-body">

                <div class="container box glass" style="background-color: rgba(151, 150, 147, 0.295);">

                    <div class="box mb-5 glass">
                        <div class="container">
                            <p class="title is-4 is-text-primary">Login to continue drawing</p>
                        </div>
                        <div class="field mt-6">
                            <label for="" class="label">{{ form.username.label() }}</label>
                            <div class="control">
                                {{ form.username(class = "input glass", placeholder = "Username") }}
                            </div>
                        </div>
                        <div class="field mt-6">
                            <label for="" class="label">{{ form.emailaddress.label() }}</label>
                            <div class="control">
                                {{ form.emailaddress(class = "input glass", placeholder = "Email Address") }}
                            </div>
                        </div>

                        <div class="field mt-6">
                            <label for="" class="label">{{ form.password.label() }}</label>
                            <div class="control">
                                {{ form.password(class = "input glass", placeholder = "Password") }}
                            </div>
                        </div>
                        <div class="field mt-6">
                            <div class="control">
                                {{ form.submit(class = "button is-primary") }}
                            </div>
                        </div>
                        <div class="content">
                            <p>Have an account? <a href="{{url_for('auth.signup')}}"><strong>Sign Up</strong></a></p>
                        </div>
                    </div>

                </div>
    </form>
    </div>
</section>
</section>
{% endblock %}