{% extends './base.html' %}

{% block title %}
Sign up
{% endblock %}

{% block content %}
<section class="section">
    <!-- TODO Divide Signup into 3 steps using bulma extension -->
    <section class="hero is-large is-transparent">
        <div class="hero-body">
            <div class="container">

                <div class="steps" id="signup-steps">
                    <div class="step-item is-active" data-step="1">
                        <div class="step-marker">1</div>
                        <div class="step-details">
                            <p class="step-title">Account</p>
                        </div>
                    </div>
                    <div class="step-item" data-step="2">
                        <div class="step-marker">2</div>
                        <div class="step-details">
                            <p class="step-title">Profile</p>
                        </div>
                    </div>
                    <div class="step-item" data-step="3">
                        <div class="step-marker">3</div>
                        <div class="step-details">
                            <p class="step-title">Finish</p>
                        </div>
                    </div>
                </div>

                    <form method="POST" action="{{ url_for('auth.signup') }}">
                        <div class="container">
                        {{ form.hidden_tag() }}
                        <div class="step-content" data-step="1">
                            <div class="field">
                                <label class="label">Email Address</label>
                                <div class="control">
                                    {{ form.emailaddress(class = "input glass", placeholder = "Email Address", id = "emailInput") }}
                                </div>
                                <p class="has-text-danger" id="emailError"></p>
                            </div>
                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control">
                                    {{ form.password(class = "input glass", placeholder = "Password",id = "passwordInput") }}
                                </div>
                                <p class="has-text-danger" id="passwordError"></p>
                            </div>
                            <div class="field">
                                <label class="label">Confirm Password</label>
                                <div class="control">
                                    {{ form.password_confirm(class = "input glass", placeholder = "Confirm Password",id = "passwordConfirmInput") }}
                                </div>
                                <p class="has-text-danger" id="passwordConfirmError"></p>
                            </div>

                            <div class="control">
                                <button type="button" class="button is-primary" onclick="validateAccountStep()" id="nextButton">Next</button>
                            </div>
                        </div>

                        <div class="step-content" data-step="2" style="display: none;">
                            <div class="field">
                                <label class="label">Username</label>
                                <div class="control">
                                    {{ form.username(class = "input glass", placeholder = "Username", id = "usernameInput")}}
                                </div>
                                <p class="has-text-danger" id="usernameError"></p> 
                            </div>
                            <div class="field">
                                <label class="label">Display Name</label>
                                <div class="control">
                                    {{ form.displayname(class = "input glass", placeholder = "Display Name", id = "displayNameInput") }}
                                </div>
                                <p class="has-text-danger" id="displayNameError"></p> 
                            </div>
                            <div class="control">
                                <button type="button" class="button is-primary is-outlined mr-4"
                                    onclick="prevStep()">Previous</button>
                                <button type="button" class="button is-primary" onclick="validateProfileStep()">Next</button>
                            </div>
                        </div>

                        <div class="step-content" data-step="3" style="display: none;">
                            <div class="field">
                                <label class="label">Country</label>
                                <div class="control">
                                    {{ form.country(class = "input glass", placeholder = "Country") }}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Date of Birth</label>
                                <div class="control">
                                    {{ form.date_of_birth(placeholder = "Date of Birth" , class = "input") }}
                                </div>
                            </div>
                            <div class="control">
                                <button type="button" class="button is-link is-outlined" onclick="prevStep()">Previous</button>
                                {{ form.submit(class = "button is-primary") }}
                            </div>
                        </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
</section>
<script>
    let body = document.querySelector('body');
    body.style.height = window.innerHeight + 'px';
</script>
</section>

{% endblock %}