{% extends './base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1" style="font-size: 5vw;">
        Livesketch
      </h1>
      <h2 class="subtitle is-3" style="font-size: 3.1vw;">
        Draw together, anywhere
      </h2>
      <a href="" class="button is-primary is-large">Collaborate Now</a>
    </div>
  </div>
</section>

<footer class="footer glass" style="border-radius: 0px;">
  <div class="content has-text-centered">
    <p>
      <strong>Livesketch</strong> by <a href="">Akinfenwa Ezekiel</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>

<script>
  typewriterConfig = ["Livesketch", true]
  typewriter();
</script>
{% endblock %}