{% extends './base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
<section class="hero is-fullheight is-transparent">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            LiveSketch
          </h1>
          <h2 class="subtitle">
            Realtime Drawing Application
          </h2>
          <a href="" class="button is-large is-primary">Join us</a>
        </div>
        <div class="column">
          <figure class="image is-1by1 is-480x480">
            <img src="{{url_for('static', filename = 'icons/main-img.svg')}}" alt="main-image" class="image">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Livesketch</strong> by <a href="">Akinfenwa Ezekiel</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
{% endblock %}