.image {
    width: 25vw;
}

body {
    font-family: Lato;
    background-image: url('../icons/bg.svg');
    background-size: cover;
}

.glass {
    /* From https://css.glass */
    background: rgba(0, 9, 16, 0.473);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 9, 16, 0.3);
}

.is-primary {
    background-color: #f17c53;
}

.has-text-primary {
    color: #f17c53;
}

strong, a{
    color: #f17c53;
}

.is-info{
    background-color: #f17c53;
}

.is-text-primary{
    color: #f17c53;
}

.glass-is-danger{
     /* From https://css.glass */
     background-color: #96446e59;
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     border: 1px solid rgba(0, 9, 16, 0.3);
    
}

.glass-is-primary{
     /* From https://css.glass */
     background-color: #f17d5359;
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     border: 1px solid rgba(0, 9, 16, 0.3);
}

.glass-is-success{
    background-color: #f8ac3b59;
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     border: 1px solid rgba(0, 9, 16, 0.3);
}
.step-content {
    transition: transform 0.3s ease-in-out;
    position: absolute;
    width: 100%;
}

.step-content-enter {
    transform: translateX(100%);
}

.step-content-enter-active {
    transform: translateX(0);
}

.step-content-exit {
    transform: translateX(0);
}

.step-content-exit-active {
    transform: translateX(-100%);
}